@charset "UTF-8";
/* 
FONTS:
    */
@font-face{
    font-family: 'merri';
    src: url('../css/fonts/Merriweather-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'alata';
    src: url('../css/fonts/Alata-Regular.ttf') format('truetype');
}
html {
    background-color: rgb(165, 187, 228);
}


header {
    background-color: darkblue;
}


.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00B8F1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    clear: left;
  }
  
  .button:hover {
      background-color: rgb(2, 154, 200);
    }
  
  .button:active {
    background-color: rgb(2, 154, 200);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


@media only screen and (min-width: 1281px) and (max-width: 2500px) {
    /* DESKTOP LAYOUT*/
    /* This width should be 1920px */

    body {
        align-self: center;
        width: 85%;
        height: 800px;
        background-color: white;
        position: absolute;
        left: 7.5%;
    }
    .container{
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: 15% 40% 40% 5%;
        display: grid;
    }
    .logo{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        position: absolute;
        top: 0px;
        width: 400px;
    }
    .nav{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        background-color: white;
        color: #00B8F1;
        text-align: center;
        padding: 20px;
        padding-left: 140px;
        padding-top: 60px;
    }

    .foot{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: darkblue;
    }
    /*INDEX PAGE */
   
    .slideshow{
        display: grid;
        position: relative;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
    } 
    .index1 >img{
   position:absolute;
   animation-name: multiple-images-crossfade;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-duration: 12s;
   width: 684px;
    }
    .index1 >img:nth-of-type(1){
        animation-delay: 8s;
    }
    .index1 >img:nth-last-of-type(2){
        animation-delay: 4s;
    }

    @keyframes multiple-images-crossfade{ 
    0%{ 
    opacity:1;
    }

    45%{
    opacity: 1;
    }

    55%{
    opacity: 0;
    }  

    100%{
    opacity:0;
    } 
}

.index1 img{
    border: 2px #00B8F1 solid;
    width: 850px;
    height: 566px;
}

    .index1{
        width: 85%;
        height: 580px;
        text-align: center;
        position: relative;
        top: 50px;
        right: 290px;
    }
    .indextxt{
        width: 300px;
        padding: 10px;
        font-family: 'merri';
        position: relative;
        top: 100px;
        left: 40px;
        text-align: center;
        font-size: 150%;
        clear: right;
    }
    /*STORE PAGE*/

    /*ABOUT US PAGE*/
    .aboutus{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        position: relative;
        left: 385px;
    }
    .aboutus1{
        width: 500px;
        height: 680px;
    }
    .aboutustxt{
        float:right;
        font-family: 'merri';
        font-size: 150%;
        width: 400px;
        padding: 10px;
        text-align: center;
        position: relative;
        right: 380px;
        top: 10px;
    }
    .positions{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .positions img{
        width: 160px;
        height: 160px;
        position: relative;
        border: #00B8F1 2px solid;
    }

    .positions p{
        position: relative;
        font-size: 16px;
    }

    .title{
        position: relative;
        bottom: 270px;
        left: 160px;
    }
    
    .pic1{
        bottom: 250px;
        left: 30px;
    }

    .pic2{
        left: 210px;
        bottom: 469px;
    }

    .pic3{
        left: 30px;
        bottom: 400px;
    }

    .pic4{
        left: 210px;
        bottom: 619px;
    }

    .pic1txt{
        left: 90px;
        bottom: 250px;
    }

    .pic2txt{
        left: 210px;
        bottom: 469px;
    }

    .pic3txt{
        left: 65px;
        bottom: 400px;
    }

    .pic4txt{
        left: 250px;
        bottom: 619px;
    }
    /*APPLICATION PAGE*/
    .application{
        background-image: url("../images/e_sunset.jpg");
        min-height: 650px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 20px;
        left: 450px;
        border:2px #00B8F1 solid ;
    }

    input[type=text], input[type=number], input[type=file] {
        width: 90%;
        padding: 10px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
      }

      input[type=text]:focus, input[type=password]:focus, input[type=file]:focus  {
        background-color: #ddd;
        outline: none;
      }

    .apply{
        position: absolute;
        padding: 10px;
        background-color:rgba(255,255,255,0.7);
        bottom: 0.5px;
        left: 50px;
        font-family: "alata";
    }

    .applicationtxt{
        position: relative;
        left: 140px;
        font-size: 30px;
        width: 400px;
        bottom: 35px;
        text-align: center;
        font-family: "merri";
    }

   .sub-butn{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
   }

   .sub-butn:hover{
    background-color: #e7e7e7;
   }

   .sub-mit{
    border: none;
    color:black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "alata";
    position: relative;
    left: 125px;
   }
    /* REVIEW PAGE */
   .star{
       height: 30px;
       width: 35px;
   }
   .reviews{
       grid-row-start: 3;
       grid-row-end: 3;
       grid-column-start: 1;
       grid-column-end: 3;
   }
}

@media only screen and (min-width: 700px) and (max-width: 1280px) and (orientation:portrait) {
    /*TABLET PORTRAIT*/
    /*The width should be 820px*/

    body {
        align-self: center;
        top: 7.5%;
        left: 0.5%;
        background-color: white;
        position: absolute;
       height: 1100px;
    }

    .container{
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: 15% 40% 40% 5%;
        display: grid;
    }
    
.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00B8F1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    clear: left;
    position: relative;
  }

    .logo{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        position: absolute;
        top: 0px;
        width: 300px;
    }
    .nav{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        background-color: white;
        color: #00B8F1;
        text-align: center;
        padding: 20px;
        padding-top: 60px;
        padding-right: 0px;
        position: relative;

    }

    .slideshow{
        display: grid;
        position: relative;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
    } 
    .index1 >img{
   position:absolute;
   animation-name: multiple-images-crossfade;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-duration: 12s;
   width: 800px;
   height: 450px;
    }
    .index1 >img:nth-of-type(1){
        animation-delay: 8s;
    }
    .index1 >img:nth-last-of-type(2){
        animation-delay: 4s;
    }

    @keyframes multiple-images-crossfade{ 
    0%{ 
    opacity:1;
    }

    45%{
    opacity: 1;
    }

    55%{
    opacity: 0;
    }  

    100%{
    opacity:0;
    } 
}

.index1{
    width: 85%;
    height: 580px;
    text-align: center;
    position: relative;
    top: 100px;
    right: 435px;
}

.indextxt{
    width: 800px;
    padding: 10px;
    font-family: 'merri';
    position: relative;
    top: 600px;
    left: 80px;
    text-align: center;
    font-size: 150%;
    
}


    .foot{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: darkblue;
    }
    /*INDEX PAGE */

    /*STORE PAGE*/

    /*ABOUT US PAGE*/

    /*APPLICATION PAGE*/

    /* REVIEW PAGE */



}
@media only screen and (min-width: 700px) and (max-width: 1280px) and (orientation: landscape) {
    /*LANDSCAPE TABLET LAYOUT*/
    .container{
        grid-template-columns: ;
        grid-template-rows: ;
        display: grid;
    }
    
    .logo{

    }
    .nav{
        grid-row-start: ;
        grid-row-end: ;
        grid-column-start: ;
        grid-column-end: ;
    }

    .foot{
        grid-row-start: ;
        grid-row-end: ;
        grid-column-start: ;
        grid-column-end: ;
    }
    /*INDEX PAGE */

    /*STORE PAGE*/

    /*ABOUT US PAGE*/

    /*APPLICATION PAGE*/

    /* REVIEW PAGE */

}


@media only screen and (min-width: 351px) and (max-width: 699px) {
    /*INDEX PAGE */

    /*STORE PAGE*/

    /*ABOUT US PAGE*/

    /*APPLICATION PAGE*/

    /* REVIEW PAGE */

}